ul {
	position: relative;
}

ul li {
	cursor: pointer;
	position: relative;
	padding: 16px 20px;
	background: #b2bec3;
	font-size: 20px;
	list-style: none;
}

ul li:nth-child(odd) {
	background: #eee;
}

ul li.checked {
	background: #888;
	color: #fff;
	text-decoration: line-through;
}

.btn-delete {
	position: absolute;
	right: 0;
	top: 0;
	padding: 12px 20px 16px 20px;
	color: #ff0000;
}

.btn-delete:hover {
	background-color: #ff4747;
	color: white;
}

/* Style the edit button */
.edit-icon {
	position: absolute;
	right: 50px;
	top: 0;
	padding: 12px 20px 16px 20px;
	color: #3a11cf;
}

.edit-icon:hover {
	background-color: rgb(71, 203, 255);
	color: white;
}

.btn-complete {
	position: absolute;
	right: 100px;
	top: 0;
	padding: 12px 20px 16px 20px;
	color: #15fa00;
}

.btn-complete:hover {
	background-color: rgb(86, 255, 71);
	color: white;
}

.view-icon {
	position: absolute;
	right: 150px;
	top: 0;
	padding: 12px 20px 16px 20px;
	color: #ff592f;
}

.view-icon:hover {
	background-color: rgb(71, 129, 255);
	color: white;
}
